---
title: Central Theater
---

%header#page
  %aside
    = partial "menu"

  %section.erotator
    .slider
      %img{:src => "images/Bartending2.jpg"}
      %img{:src => "images/happyCustomers.jpg"}/
      %img{:src => "images/Lori.png"}/
      %img{:src => "images/Bartending5.jpg"}/
      %img{:src => "images/showSetup1.jpg"}/
      %img{:src => "images/Gala2.jpg"}/
      %img{:src => "images/Bartending3.jpg"}/
      %img{:src => "images/Bartending6.jpg"}/

      





%main
  .month
    Upcoming Events for 2015: <br>
    <span class = "smallText">Our renovated theater space is now available to rent for your next event!</span> <br>
    <span class = "rsvp"> (Please call 724-835-1122 for more details or to reserve a date.) </span> <br>
  /
    %p.date
      Saturday, June 14
      %p.event
        %a{:href => "files/2014winefestival.pdf", :target => "_blank", :title => "Wine and Food"} Wine and Food Festival <br>
        1-8 p.m. <br>
        %a{:href => "http://www.pawineandfood.com", :target => "_blank", :title => "Wine and Food"} Monroeville Convention Center
    %p.date
      Sunday, June 15
      %p.event
        Father's Day gift basket giveaway
    %p.date
      Saturday, June 21
      %p.event
        Wine Tasting <br>
        6-8 p.m. <br>
        McFeely's Gourmet Chocolate <br>
        202 Fourth St. Irwin, PA
    %p.date
      Thursday, June 26
      %p.lastEvent
        Wine and Paint <br>
        7-9 p.m. <br>
        at the Wine Shoppe <br>
    %p.date
      Once a month basket giveaway:
      %p.event
        With a $10 purchase, you get an entry into our giveaway for that month!
      Wine and Paint <br>
      $35 includes instruction, materials, and a glass of wine. <br>
      7-9p.m.<br>
      Tickets available at the Shoppe on a first come, first serve basis. <br>
  %p.date
    American Performing Arts Theatre Company Acting Classes<br> starting June 6th through July 18th 
    %p.event
      Saturdays from 10-11:30: Monologues for High School Students.<br>
      Saturdays from 12-1:30: Stage Combat. <br>
      Mondays from 7-8:30: Acting for Adults. <br>
      Wednesdays from 7-8:30: Intro to Acting for Middle School. 
  %p.date
    Monday, June 8th
    %p.event
      Essential Oils and autism class<br>
      Call for more details.<br>
  %p.date
    Thursday, June 18th
    %p.event
      Wine and Paint<br>
      Only $20 includes instruction and materials!<br>
      6:30-9 p.m.
  %p.date
    Farmer's Market Dates:
    %p.lastEvent
      Saturdays starting June 13th: Lynch Field and Delmont Farmer's Markets. <br>











