---
title: Central Theater
---

%header#page
  %aside
    = partial "menu"

  %section.erotator
    .flexslider.carousel
      %ul.slides
        %li
          %img{:src => "images/women2.png"}   
        %li
          %img{:src => "images/women1.png"}/
        %li
          %img{:src => "images/testabstract.jpg"}/            

  


%main
  .month
    Upcoming Events for 2014:
  /
    %p.date
      Saturday, June 14
      %p.event
        %a{:href => "files/2014winefestival.pdf", :target => "_blank", :title => "Wine and Food"} Wine and Food Festival <br>
        1-8 p.m. <br>
        %a{:href => "http://www.pawineandfood.com", :target => "_blank", :title => "Wine and Food"} Monroeville Convention Center
    %p.date
      Sunday, June 15
      %p.event
        Father's Day gift basket giveaway
    %p.date
      Saturday, June 21
      %p.event
        Wine Tasting <br>
        6-8 p.m. <br>
        McFeely's Gourmet Chocolate <br>
        202 Fourth St. Irwin, PA
    %p.date
      Thursday, June 26
      %p.lastEvent
        Wine and Paint <br>
        7-9 p.m. <br>
        at the Wine Shoppe <br>
    %p.date
      Once a month basket giveaway:
      %p.event
        With a $10 purchase, you get an entry into our giveaway for that month!
      Wine and Paint <br>
      $35 includes instruction, materials, and a glass of wine. <br>
      7-9p.m.<br>
      Tickets available at the Shoppe on a first come, first serve basis. <br> 
      (limited seating available)<br>
  %p.date
    Thursday, November 6th
    %p.event
      Irwin's Annual "Ladies Night" <br>
      415 Main Street, Irwin
      5 p.m. - late <br>
  %p.date
    Sunday, November 16th
    %p.event
      Women's Holiday Gala <br>
      at the Crytal Ballroom in Herminie <br>
      10 a.m. - 5 p.m.
  %p.date
    Saturday, November 29
    %p.event
      A Dicken's Village <br>
      We will be in the West Newton Senior Center <br>
      from 3:30 p.m. - 8:30 p.m.
      This is West Newton's light up night as well!
  %p.date
    Saturday, December 6th
    %p.lastEvent
      Wine and Chocolate Affair <br>
      at the White Valley AMVETS <br>
      10 a.m. - 6 p.m. 
    





    

